#xterm-container div { 
    font-family: 'Fira Code', Hack, 'Roboto Mono', monospace;
    overflow: scroll;
}

#editor-div {
    margin-top: 10px;
}

#register-window {
    height: 100vh;
    resize: horizontal;
    border: 10;
    overflow: scroll;
}

.hidden-reg {
    display: none;
}

