#main-container {
    display: flex;
    margin-top: 50px;
}

#xterm-container div { 
    font-family: 'Fira Code', Hack, 'Roboto Mono', monospace;
}

#editor-div {
    flex-grow: 1;
}

#register-window {
    padding: 20px;
}

